/crazyflie-console-cpp/.vs
/crazyflie-console-cpp/crazyfli.58a9cc15
crazyflie-console-cpp/crazyflie-console-cpp.vcxproj.user
/crazyflie-console-cpp/x64
/crazyflie-link-cpp-master/out/build
/libusb/build/v143/x64
